/* здесь подключите шрифты */

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/montserrat-regular.woff2") format("woff2"),
       url("../../fonts/montserrat-regular.woff") format("woff");
};

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/montserrat-SemiBold.woff2") format("woff2"),
       url("../../fonts/montserrat-SemiBold.woff") format("woff");
};

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/montserrat-Bold.woff2") format("woff2"),
       url("../../fonts/montserrat-Bold.woff") format("woff");
};