/* здесь используйте глобальные селекторы img, body, html и так далее */

html {
  height: 100dvh;
  width: 100dvw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  @include basic-text(center);
  background-color: $base-white;

  @media screen and (min-width: 768px) {
    @include basic-text(center);
  }

  @media screen and (min-width: 1440px) {
    @include basic-text(left);
  }
}

img {
  max-width: 100%;
}

a,
button {
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  color: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.button {
  @include button-default;
  @include effect;
}

.button--alt {
  @include button-alt;
  @include effect;
}

.visually-hidden {
  @include visually-hidden;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;

  max-width: 100%;
}

legend {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: $base-black;

  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  outline: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px 0;
}
