.catalog {
  background-color: $lightest-grey;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 0px 20px;

  @media screen and (min-width: 1440px) {
    display: grid;
    grid-template-columns: 320px 1fr;

    align-items: start;
  }
}

.catalog__pagination {
  margin-top: 20px;
}
